body{
    background-color: aliceblue;
}

.div1{
    height: 100px;
    width: 250px;
    background-color: black;
    position: absolute;
    animation-name: left;
    animation-duration: 2.5s;
    left: 0;
    /* animation-delay: s; */
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div2{
    height: 100px;
    width: 250px;
    background-color: black;
    position: absolute;
    animation-name: left;
    animation-duration: 2.5s;
    left: 0;
    top: 400px;
    animation-delay: 4.5s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div3{
    height: 100px;
    width: 250px;
    background-color: black;
    position: absolute;
    animation-name: left;
    animation-duration: 2.5s;
    left: 0;
    top: 800px;
    animation-delay: 9.5s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div4{
    height: 100px;
    width: 250px;
    background-color: black;
    position: absolute;
    animation-name: left;
    animation-duration: 2.5s;
    left: 0;
    top: 1200px;
    animation-delay: 14.5s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div5{
    height: 100px;
    width: 250px;
    background-color: red;
    position: absolute;
    animation-name: right;
    animation-duration: 2.5s;
    right: 0;
    top: 200px;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div6{
    height: 100px;
    width: 250px;
    background-color: red;
    position: absolute;
    animation-name: right;
    animation-duration: 2.5s;
    right: 0;
    top: 600px;
    animation-delay: 7s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

.div7{
    height: 100px;
    width: 250px;
    background-color: red;
    position: absolute;
    animation-name: right;
    animation-duration: 2.5s;
    right: 0;
    top: 1000px;
    animation-delay: 12s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}


.div8{
    height: 100px;
    width: 250px;
    background-color: red;
    position: absolute;
    animation-name: right;
    animation-duration: 2.5s;
    right: 0;
    top: 1400px;
    animation-delay: 17s;
    animation-direction: reverse;
    animation-fill-mode: backwards;
}

@keyframes left{
    0%{
        background-color: black;
        left: 0;
    }
    100%{
        background-color: red;
        left: 1250px;
    }
  
}

@keyframes right{
    0%{
        background-color: red;
        right: 0;
    }
    100%{
        background-color: black;
        right: 1250px;
    }
}